@media (min-width: 768px) {
  main {
    display: grid;
    grid-column: 1/3;
  }
  #me {
    height: auto;
    width: 400px;
    padding: 20px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto auto auto auto auto;
    max-width: 70%;
    margin: 0 auto;
    /* padding: 5%; */
  }

  #logo{
    height: 5rem;
    border-radius: 360px;
    margin:2px;
  }


  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 100% ;
  }
  .navigation a {
    text-align: center;
  }

  nav {
    margin: 0 auto;
    max-width: 100%;
    font-size: 30px;
  }

  #act {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #info {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #menu {
    display: none;
  }
  #map {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto 1fr;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 2rem;
    width: 100%;
    padding-top: 2rem;
  }
  #tampico-map {
    width: 700px;
    height: 450px;
  }
  #membership {
    margin: 2rem 0 2rem 2rem;
    padding: 3rem;
    appearance: none;
  }
  .contactform{
    padding:100px 100px 100px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
}
