.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0e5157;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

#me {
  height: auto;
  width: 50%;
  padding: 20px;
}
body {
  background-color: #e0e0e0;
  font-family: "Hind Madurai", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
}

.navigation li {
  display: none;
}
.navigation a {
  display: block;
  color: beige;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}

.navigation a:hover,
.navigation a:active {
  color: #fff;
  background-color: black;
}

a:hover,
a:active {
  color: #000000;
}

nav {
  background-color: #35727a;
  margin: 0 auto;
  max-width: 1000px;
  font-size: 30px;
}
#menu {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

.open li {
  display: block;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  margin: 0 auto;
  height: 700px;
}
.hero {
  position: relative;
  height: 800px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.herolabel {
  position: absolute;
  top: 30px;
  left: 30px;
  background: radial-gradient(#fff, #4d5b97);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
  /* Buenas */
}

.herolabel p {
  margin: 0;
  padding: 0.25rem;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Great Vibes", serif;
}

main h1 {
  padding: 3rem;
  grid-column: 1/3;
  font-size: 35px;
  text-align: center;
}

main h2 {
  padding-bottom: 1.5rem;
  text-align: center;
  grid-row: 2/3;
  font-size: 30px;
}

h3 {
  font-size: 40px;
}

.card {
  color: rgb(9, 94, 125);
  height: 400px;
  justify-items: start;
  font-size: 25px;
  margin: 1rem;
  padding: 1rem;
  background-color: #b7d9dc;
  border-radius: 15px;
  border: 4px solid #105b17;
}
.card li {
  list-style-type: none;
}
a {
  color: #005f0d;
  text-decoration: none;
}

#map {
  display: grid;
  /* grid-template-columns: 1fr ; */
  grid-template-rows: auto 1fr;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(9, 94, 125);
  padding-top: 2rem;
}

#tampico-map {
  margin: 2rem;
  width: 300px;
  height: 450px;
}

footer {
  background-color: #0c7f5c;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 4%;
  text-align: center;
  font-size: 20px;
}
